name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - main # Trigger the build only on pushes to main

# This gives the action permission to write to your repo
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      
      - name: Install MKDocs
        run: pip install mkdocs mkdocs-material

      - name: Build and Deploy
        run: mkdocs gh-deploy --force --clean